$darkColor: #18191a !default;
$lightColor: #f0f2f5 !default;
$textColorLight: #050505 !default; // For light
$textColorDark: #e4e6eb !default; // For Dark
$iconColorLight: #65676b !default;
$iconColorDark: #b0b3b8 !default;
